[alias]
    #Base Commands
    s = status
    co = checkout
    br = branch
    ci = commit

    #Listing
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate    s = status
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lalias = "!git config -l | grep alias | cut -c 7-"
    lf = log -u
    lt = describe --tags --abbrev=0
    
    #Working Directory & Staging
    a-c = "!git add -A && git commit"

    #Comparisons
    diff = diff --word-diff
    dc = diff --cached

    #Reset
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard
    
    #Stash
    sh = stash -u
    sh-l = stash list
    sh-a = stash apply
    sh-p = stash pop
    sh-s = stash save
    sh-c = stash clear

    #Remote Server Interactions
    rmt-ls = remote -v

[core]
    autocrlf = input
